*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}
h1{
  color: #fd9e6e;
}
.sec-container{
  margin: 0 10%;
}

#landing-page{
  background: #333f55;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.heading{
  font-size: 8em;
}
.choice-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  text-align: center;
}
.choice-container form{
  width: 100%;
}
.chooseYourSubHeading{
  color: antiquewhite;
  font-size: 2em;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
}
.chooseYourSub{
  width: 100%;
  /* height: 40px ; */
  border-radius: 10px ;
  border: none;
  font-size: 1.5em;
  color: #333f55;
  font-weight: 600;
  padding: 5px 20px;
  text-align: center;

}
.goToHomePage{
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 2em;
  width: 2em;
  background-color: rgba(100, 148, 237, 0.611);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.goToMathPage{
  position: absolute;
  bottom: 30px;
  right: 50%;
  height: 2em;
  width: 2em;
  background-color: rgba(100, 148, 237, 0.504);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transform: rotateX(180deg);
  padding: 10px;
}
/* ================ TEACHER-SECTION ============== */
/* .teachers-sec-heading{
  text-align: center;
  color: #333f55;
  font-size: 3em;
  font-weight: 700;
  margin: 30px 0;
}
.card-container{
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #fd9e6e;
  gap: 10px;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
}
.subject-card{
  background-color: aqua;
  text-align: center;
}
.subject-card h1{
  color: #333f55;
  margin-bottom: 10px;
}
.subject-card img{
  width: 100%;
  border-radius: 50%;
} */

/* ================ MATH-SECTION ============== */

#maths{
  background-color: rgb(253, 239, 221);
  width: 100%;
  padding: 200px 0;
}
#maths h1{
  color: #333f55;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}
.ch-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.math-ch{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #333f55;
  height: 25vh;
  text-align: center;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 5px 5px black ;
}
.math-ch:hover{
  box-shadow: 6px 6px 5px 3px rgb(0, 4, 255) ;  
}
.math-ch h2{
  font-size: 1.1em;
  color: rgb(253, 239, 221);
}
.lec-play-btn{
  background-color: rgb(253, 239, 221);
  padding: 5px 0;
  width: 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow:  3px 3px 4px 0px red ;
}
.lec-play-btn:active{
  transform: translateX(3px) translateY(3px);
}
.math-ch:hover .lec-play-btn{
  box-shadow: 1px 1px 5px 1px rgb(0, 4, 255) ;  
}
.math-ch:hover h2{
  text-shadow: 3px 3px 5px rgb(0, 4, 255) ;  
}

/* .math-ch:hover .lec-play-btn{
  box-shadow: inset 1px 1px 6px 1px red ;

} */

@media screen and (min-width: 600px) {
.heading{
  font-size: 10em;
  font-weight: 800;
}

.choice-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 500px;
  text-align: center;
}
.choice-container form{
  width: 100%;
}
.chooseYourSubHeading{
  color: antiquewhite;
  font-size: 5em;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
}

.chooseYourSub{
  width: 100%;
  height: 70px ;
  border-radius: 10px ;
  border: none;
  font-size: 1.5em;
  color: #333f55;
  font-weight: 600;
  padding: 5px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.ch-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.math-ch{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
.math-ch h2{
  font-size: 3em;
  color: rgb(253, 239, 221);
  max-width: 50%;
}
.lec-play-btn{
  background-color: rgb(253, 239, 221);
  padding: 5px 0;
  width: 60px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow:  3px 3px 4px 0px red ;
}
.lec-play-btn:active{
  transform: translateX(3px) translateY(3px);
}
.math-ch:hover .lec-play-btn{
  box-shadow: 1px 1px 5px 1px rgb(0, 4, 255) ;  
}
.math-ch:hover h2{
  text-shadow: 3px 3px 5px rgb(0, 4, 255) ;  
}
 
}