/* Disable text selection across the entire page */
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

.subject-card{
  padding: 0;
}
.subject-heading{
  padding: 16px;
  margin-bottom: 0;
}

.nav-bar{
  background-color: rgb(224, 134, 24);
}
.nav-options{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background: #e1e8f5;
  padding: 8px;
}
.nav-list{
  padding: 7px 6px;
  text-align: center;
  border-radius: 5px;
  font: 1.2em sans-serif;
}
.nav-list:first-child{
  background: #f1f5fe; 
}
.nav-list:hover{
  background: #f1f5fe;
}
.lectures-grid{
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
  gap: 30px;
}

.lecture-card div iframe{
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}
.lecture-info{
  padding: 5px 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0 0 15px #00000029;
  border-radius:  0 0 5px 5px;

}
.lecture-info h4{
  margin: 10px 0;
  color: #222;
}
.notes-container{
  display: flex;
  align-items: center;     /* Centers content vertically */
  height: 30px;           /* Adjust the height as needed */
}
.notes-container a{
  display: flex;
  align-items: center;
  color: blueviolet;
  text-decoration: none;
  text-align: center;
}