
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Disable text selection across the entire page */
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Rubik", sans-serif;
  font-size: 12px;
}
.back-nav{
  cursor: pointer;
}
li{
  list-style: none;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  padding-left: 16px;
  height: 68px;
  box-shadow: 0 3px 10px #0000001a;
  z-index: 999;
}
.back-nav{
  font-weight: 500;
}
.topic-container{
  padding: 30px 0;
  background-color: #f8f8f8;

}
.subject-card{
  padding: 16px;
  box-shadow: 0 0 8px #00000014;

}
.subject-heading{
  margin-bottom: 16px;
  margin-right: 10%;
}
.subject-header{
  display: flex;
  align-items: flex-start;

}
.chapters-grid{
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 15px;
  gap: 15px;
}

.chapter-card{
  color: black;
  border-left: 5px solid #8c81e9;
  padding-left:10px ;
  border-radius: 10px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 4px #0000000f, 0 4px 7px #00000008;
}

.addNote{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* z-index: ; */
}
.noteArea{
  color: #8c81e9; 
  font-weight: 600;
  display: none;
  border-radius: 5px;
  padding: 15px;
  max-width: 100%;
  margin-top: 15px;
  min-height: 80px;
  font-size: 14px;
  text-wrap: wrap;
  border: 1px solid #8c81e9;
  background-color: antiquewhite;
  box-shadow: 0px 0px 6px 4px #5c4fc9;
}

.addNoteBtn {
  padding: 5px 10px;
  border: none;
  margin-top: 10px;
  width: 90px;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.addNoteBtn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-addNoteBtn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-addNoteBtn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.addNoteBtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.chapter-name{
  font-weight: 400;
}

/* ================For Desktop View ======= */
@media screen and (min-width: 1024px) {

nav{
  padding-left: 10%;
  position: sticky;
  top: 0;
}

.subject-heading{
  padding: 30px 0 30px 300px;
  font-size: 3em;
}
.chapters-grid{
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 300px;
  gap: 15px;

}
.chapter-card{
  padding: 40px 20px;

}
.chapter-name{
  font-size: 2em;
}
.noteArea{
width: 55vw;
}

}