/* Disable text selection across the entire page */
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

.subject-card{
  padding: 0;
}
.subject-heading{
  padding: 16px;
  margin-bottom: 0;
}

.nav-options{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background: #e1e8f5;
  padding: 8px;
}
.nav-options a{
  text-decoration: none;
  color: black;
}
.nav-list{
  padding: 10px 6px;
  text-align: center;
  border-radius: 5px;
  font: 1.2em sans-serif;
}
.nav-bar ul a:nth-child(1){
  background: #f1f5fe;
  border-radius: 5px;
}
.nav-list:hover{
  background: #f1f5fe;
}
.lectures-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 30px;
  gap: 30px;
  
}

.lecture-card div iframe{
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  background-color: antiquewhite;
}
.lecture-info{
  padding: 5px 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0 0 15px #00000029;
  border-radius:  0 0 5px 5px;

}
.lecture-info h4{
  margin: 10px 0;
  color: #222;
}
.extra-features{
  display: flex;
  justify-content: space-between;
  align-items: center;     
  height: 30px;           
}
.extra-features a{
  display: flex;
  align-items: center;
  color: #8c81e9;
  text-decoration: none;
  text-align: center;
}
.right label{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  color: #8c81e9;

}
.recommended-tagged-lec{
  background-color:rgb(255, 135, 91);
  color:black;
  padding:2px 10px;
  width:min-content; 
  font-size:.7em; 
  font-weight:500; 
  border-radius:10px; 
  float:right;
  animation: blink 1.5s infinite;
  transition: all .3s;
}
@keyframes blink {
  0%, 100%{
    background-color: rgb(255, 135, 91) ;
  }
  50%{
    background-color: transparent;
  }
}
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
.lectures-grid{
  grid-template-columns: 1fr;

}
.lecture-card div iframe{
  width: 100%;
}

}

/* Tablet View ============= */

@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {

.lectures-grid{
  grid-template-columns: 1fr 1fr;
  padding: 60px;
}
      

}
/* ================For Desktop View ======= */
@media screen and (min-width: 1024px) {
.subject-card{
  margin: 30px 150px 30px 10vw;
}
.subject-heading{
  font-size: 3em;
  background: linear-gradient(to right, #594bd9 50%, rgb(71, 74, 234));
  padding:  30px 100px;
  color: #f1f5fe;
  border-radius: 10px 10px 0 0;
}
    
.nav-options {
  grid-template-columns: 1fr 1fr 1fr auto;
  max-width: 600px;
  background: transparent;
  box-shadow: 0 0px 6px 0px #8c81e9;
  border-radius: 0 0 20px 0;
}
.nav-bar ul a:nth-child(1){
  background: #dee6f8;
}
.nav-list:hover{
  background: #dee6f8;
}

.lectures-grid{
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px;
}
.lecture-card div iframe{
  height: 200px;
}
.lecture-info h4{
  font-size: 1.2em;
  text-wrap: wrap;

}
}

